<nav lang="fr" class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand vintage-brand" href="/">
      <div class="brand-wrapper">
        <i class="fas fa-landmark"></i>
        <span>Patrimoine</span>
        <span class="brand-historic">Historique</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {{ 'active' if request.path == '/' }}">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Accueil</a>
        </li>
        <li class="nav-item {{ 'active' if '/tableau/show' in request.path }}">
          <a class="nav-link" href="/tableau/show"><i class="fas fa-monument"></i> Monuments</a>
        </li>
        <li class="nav-item {{ 'active' if '/type-epoque/show' in request.path }}">
          <a class="nav-link" href="/type-epoque/show"><i class="fas fa-clock"></i> Époques</a>
        </li>
        <li class="nav-item {{ 'active' if '/tableau/etat' in request.path }}">
          <a class="nav-link" href="/tableau/etat"><i class="fas fa-chart-bar"></i> État des Monuments</a>
        </li>
        <li class="nav-item {{ 'active' if '/tableau/filtre' in request.path }}">
          <a class="nav-link" href="/tableau/filtre"><i class="fas fa-filter"></i> Filtrer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>