    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
            <title>layout</title>
        {% endblock %}
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/animations.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/tables.css">
        <link rel="stylesheet" href="/static/css/forms.css">
        <link rel="stylesheet" href="/static/css/cards.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/hero.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% include('_nav.html') %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
        <div role="alert" class="alert {{ categorie }}">
               Information : <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="animate-page">
        {% block body %}
            <h2 style="color:blue">layout.html</h2>
        {% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
    </body>
    </html>